<h2>Search products:</h2>

<!-- Search fields -->
<input type="text" class="filterList" placeholder="search product name" [(ngModel)]="filterByName">
<input type="text" class="filterList" placeholder="search product category">


<!-- products list -->
<table class="table table-bordered table-hover ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
            <th scope="col">Kategorie</th>
            <th scope="col">Zdjecie</th>
            <th scope="col">Opis</th>
        </tr>
    </thead>
    <tbody *ngIf="storedProductsData.length > 0">
        <tr *ngFor="let product of storedProductsData | searchProductName:filterByName; let i = index">
            <th scope="row">{{ product.name }}</th>
            <td>{{ product.price }}</td>
            <td>{{ product.criteria | extractChosenProductCriteria }}</td>
            <td>{{ product.img }}</td>
            <td>{{ product.description }}</td>
            <td class="tableButton itemEdit" (click)="editProduct(i)">&#9998;</td>
            <td class="tableButton itemRemove" (click)="removeProduct(i)">&#9986;</td>
        </tr>
    </tbody>
</table>